@import "vars"


@media only screen and (max-width : 1199px)

	/* ------------------------------------- 
		search
	 ------------------------------------- */
	.search, .test
		&::before, &::after
			display: none



	/* ------------------------------------- 
		sheme
	 ------------------------------------- */
	.sheme
		&__title
			padding: 0 5em


	/* ------------------------------------- 
		tariffs
	 ------------------------------------- */
	.tariffs__content
		padding-left: 96px
		align-items: center
	.tariffs__info
		flex: 0 0 50%
		max-width: 50%
	.tariffs__plans
		margin-top: 50px
		flex: 0 0 100%
		max-width: 100%
	.tariffs__trial
		flex: 0 0 33%
		max-width: 33%
		margin-right: auto
		margin-left: auto
	.tariffs__trial-btn
		padding: 9px 25%
		


	/* ------------------------------------- 
		footer
	 ------------------------------------- */
	.footer__contacts, .footer__copy
		margin-right: 0
		flex: 0 0 25%
		max-width: 25%
	.footer__lists, .footer__social
		flex: 0 0 65%
		max-width: 65%




	/* ------------------------------------- 


		page__tariffs

 	 ------------------------------------- */
	/* ------------------------------------- 
		purchase
	 ------------------------------------- */
	.purchase__block
		display: block
	.purchase__data, .purchase__order
		flex: 0 0 100%
	.purchase__data
		max-width: 100%
	.purchase__order
		max-width: 100%
		padding-top: 30px
	.purchase__order.settings .purchase__order-settings, .purchase__order-form
		margin-top: 30px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	.responsive-block, .purchase__order-label
		flex: 0 0 49%
		max-width: 49%
	.purchase__order-license, .purchase__order-select, .purchase__order-workplace
		margin-top: 0

	.purchase__order-btn-wrap
		text-align: center



	/**/


@media only screen and (max-width : 991px)

	.slick-dots
		display: block
		width: 100%
		padding-left: 0
		bottom: 0



	/* ------------------------------------- 
		header
	 ------------------------------------- */
	.header
		padding: 35px 0
		&__line
			display: block
		&__block
			display: block
			margin: 0
			&--right
				text-align: center
		&__logo
			display: block
			margin: 0 auto
		&__search
			display: block
			max-width: 385px
			width: 100%
			margin: 20px auto 0
		&__link
			margin: 20px 20px 0
		&__btn
			display: block
			width: 200px
			margin: 20px auto 0


	/* ------------------------------------- 
		services
 	 ------------------------------------- */
	.services__text, .services__img
		flex: 0 0 100%
		max-width: 100%
	.services__text
		padding: 0
		text-align: center
	.services__img
		margin-top: 50px
		background-position: 50% 0
		height: 410px
		background-size: contain



	/* ------------------------------------- 
		express test
	 ------------------------------------- */
	.test__item
		flex: 0 0 50%
		max-width: 50%
		padding: 0 25px



	/* ------------------------------------- 
		sheme
	 ------------------------------------- */
	.sheme
		&__title
			padding: 0 1em
		&__img
			max-width: 100%
			overflow-x: auto
			

	/* ------------------------------------- 
		examples
 	 ------------------------------------- */
	.examples__title
		padding-right: 0
	.examples__text, .examples__img
		flex: 0 0 100%
		max-width: 100%
	.examples__text
		padding: 0
		text-align: center
	&__descr
		margin-bottom: 5px
	.examples__img
		margin-top: 30px



	/* ------------------------------------- 
		tariffs
	 ------------------------------------- */
	.tariffs__content
		padding-left: 0
	.tariffs__plans-main
		flex: 0 0 544px
		max-width: 544px


	/* ------------------------------------- 
		feedbacks
	 ------------------------------------- */
	.feedbacks__slider
		max-width: 700px
		.slick-next
			right: -20px
		.slick-prev
			left: -20px
	.feedbacks__slide-content
		padding: 15px 20px



	/* ------------------------------------- 


		page__tariffs

 	 ------------------------------------- */
	/* ------------------------------------- 
		purchase
	 ------------------------------------- */
	.purchase__table div
		font-size: 16px
	.purchase__table-titles div
		padding: 0 5px 0 12px


	/**/



@media only screen and (max-width : 767px)

	/* ------------------------------------- 
		Common styles
	 ------------------------------------- */
	.title
		font-size: 1.5rem
	.text, .btn
		font-size: 16px


	/* ------------------------------------- 
		search
	 ------------------------------------- */
	.search
		padding: 50px 0 25px
	.search__block-label::before
		left: 12px
		width: 14.5px
		height: 14.5px
		margin-top: -7px
	.search__block-input
		padding: 15px 15px 15px 35px
		font-size: 16px
		&::-webkit-input-placeholder
			opacity: .5
			font-size: 16px
		&:-moz-placeholder
			opacity: .5
			font-size: 16px
		&::-moz-placeholder
			opacity: .5
			font-size: 16px
		&:-ms-input-placeholder
			opacity: .5
			font-size: 16px
	.search__block-btn
		padding: 14px 10px
		font-size: 16px
	.search__block
		margin-top: 50px
	.search__table
		td
			padding: 15px
	.search__table th:first-child, .search__table td:first-child
		padding-left: 15px
		font-size: 16px



	/* ------------------------------------- 
		express test
	 ------------------------------------- */
	.test
		padding: 50px 0
	.test__item
		flex: 0 0 100%
		max-width: 100%
		padding: 0 25px


	/* ------------------------------------- 
		sheme
	 ------------------------------------- */
	.sheme
		padding: 50px 0
		&__title
			padding: 0
		&__img
			img
				display: block
				max-width: 700px
				height: auto

	/* ------------------------------------- 
		examples
	 ------------------------------------- */
	.examples
		padding: 50px 0



	/* ------------------------------------- 
		tariffs
	 ------------------------------------- */
	.tariffs
		padding: 50px 0
	.tariffs__content
		justify-content: center
	.tariffs__info
		flex: 0 0 290px
		max-width: 290px
	.tariffs__plans
		display: block
	.tariffs__plan
		max-width: 290px !important
		width: 100%
	.tariffs__plans .tariffs__plan
		margin: 0 auto 30px
		&:last-child
			margin-bottom: 0
	.tariffs__trial
		flex: 0 0 100%
	.tariffs__trial-btn
		font-size: 16px



	/* ------------------------------------- 
		feedbacks
	 ------------------------------------- */
	.feedbacks
		padding: 50px 0
	.feedbacks__slider
		max-width: 700px
		.slick-next
			right: 0
		.slick-prev
			left: 0

				

	/* ------------------------------------- 
		footer
	 ------------------------------------- */
	.footer__content
		display: block
		text-align: center
	.footer__contacts, .footer__copy
		margin-right: 0
		flex: 0 0 100%
		max-width: 100%
	.footer__lists, .footer__social
		flex: 0 0 100%
		max-width: 100%
	.footer__contacts
		margin-top: 30px
	.footer__social
		justify-content: center



	/* ------------------------------------- 
		modal login form
	 ------------------------------------- */
	.login
	.modal-form__block
		padding: 15px
	.modal-form__title
		font-size: 1.5rem
	.modal-form__form
		margin-top: 30px
	.modal-form__subtitle, .modal-form__link, .modal-form__client, .modal-form-confirm-resend
		font-size: 16px
	.checkbox .checkbox-text
		font-size: 14px
		margin-left: 10px
	.modal-form-trial__subtitle
		margin-left: 0
		margin-right: 0
	.mfp-close
		right: 0




	/* ------------------------------------- 


		page__tariffs

 	 ------------------------------------- */
	[data-tooltip]:before 
		min-width: 150px
		font-size: 12px
		margin-left: -20px
	/* ------------------------------------- 
		purchase
	 ------------------------------------- */
	.purchase__order
		max-width: 400px
		margin: 0 auto
		padding-top: 15px
		.my-select-trigger
			font-size: 16px
	.purchase__order-title
		font-size: 18px
	.purchase__order-license-text, .purchase__order-workplace-text, .purchase__order-safe-text
		font-size: 16px
	.purchase__order-license, .purchase__order-workplace, .purchase__order-safe, .purchase__order-total
		margin-top: 10px
	.purchase__order.settings .purchase__order-settings, .purchase__order-form
		display: block
	.responsive-block, .purchase__order-label
		flex: 0 0 100%
		max-width: 100%
	.purchase__order-input
		font-size: 16px
		&::placeholder
			font-size: 16px
	.purchase__order-btn-wrap
		margin-top: 30px

	.purchase__tabs
		display: block
		padding-left: 0
	.purchase__tab
		margin: -2px 0
	.purchase__tab:first-child, .purchase__tab:last-child
		max-width: 100%
		border-radius: 0
	.purchase__tab:first-child
		border-top-left-radius: 6px
		border-top-right-radius: 6px
	.purchase__tab:last-child
		border-bottom-left-radius: 6px
		border-bottom-right-radius: 6px


	.purchase__content-tabs-wrap
		display: flex

	.purchase__table-titles
		flex: 0 0 64%
		max-width: 64%
	.purchase__table-tariff-wrap
		justify-content: center
		flex: 0 0 35%
		max-width: 35%
	.purchase__table-tariff
		margin-left: 10px
		flex: 0 0 100%
		max-width: 100%
		
	.purchase__table div
		display: flex
		align-items: center
		font-size: 14px
		line-height: 1.2
		padding: 0 5px
	.purchase__table-tariff div
		justify-content: center
	.purchase__table-titles .table-head
		line-height: 1.4
		align-items: center
	.purchase__table-tariff .table-price
		font-size: 14px
		line-height: 1.2

	/**/


@media only screen and (max-width : 575px)

	/* ------------------------------------- 
		footer
	 ------------------------------------- */
	.footer__lists
		display: block
	.footer__lists-block
		max-width: 100%
	.footer__list
		display: none
	.footer__lists-title
		padding: 10px 0
		text-decoration: underline
	.footer__list
		margin-top: 0
		li
			margin: 0
			padding: 5px
	.footer__lists-link
		font-size: 16px
		

	/**/


@media only screen and (max-width : 480px)

	/* ------------------------------------- 
		services
 	 ------------------------------------- */
	.services__img
		height: 290px



	/* ------------------------------------- 
		feedbacks
	 ------------------------------------- */
	.feedbacks__client
		padding-right: 0
	.feedbacks__client-img
		position: static
		transform: none
		margin-top: 12px
	.feedbacks__client-link

	




	/**/