/* ------------------------------------- 
	Font face
 ------------------------------------- */
@import "fonts"

/* ------------------------------------- 
	Libs import
 ------------------------------------- */
@import "libs"

@import "vars"

/* ------------------------------------- 
	Common styles
 ------------------------------------- */
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $text-color
	opacity: 1

*:-moz-placeholder
	color: $text-color
	opacity: 1

*::-moz-placeholder
	color: $text-color
	opacity: 1

*:-ms-input-placeholder
	color: $text-color
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $text-color
body input:required:valid,
body textarea:required:valid
	color: $text-color


body
	max-width: 1920px
	min-width: 320px
	margin: 0 auto
	position: relative
	font: 16px/1.56 $text-font
	color: $text-color
	overflow-x: hidden

.wrapper 
	max-width: 1166px
	margin-right: auto
	margin-left: auto
	padding-right: 15px
	padding-left: 15px

.clr
	&::before, &::after
		content: ''
		display: table
	&::after
		clear: both
		
.img-responsive
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap

.text-center
	text-align: center

.btn
	width: 172px
	padding: 10px 0
	font: 14px $text-font
	font-weight: 600
	color: #fff
	text-align: center
	border-radius: 6px
	background-image: linear-gradient(to bottom, #f06b5c, #dd2f41)
	border: none
	outline: none
	transition: all .2s
	&:hover
		cursor: pointer
		background-image: linear-gradient(to top, #f06b5c, #dd2f41)
		transition: all .2s
	&:focus
		outline: none
		box-shadow: 0 0 5px 1px rgba(0,0,0, 0.3)
	&:active
		transform: $click
		transition: all .2s
	
/* ----- Titles ----- */
.title
	font: 2rem/1.25 $text-font
	font-weight: 600
	color: $text-color
	opacity: .8	
	&--bold
		font-weight: 700
		text-align: center



/* ------------------------------------- 
	header
 ------------------------------------- */
.header
	padding: 18px 0
	box-shadow: inset 0 -2px 0 0 #f1f3f5
	&__line
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
	&__block
		display: flex
		align-items: center
		&--right
			margin-left: 32px
			text-align: right
			
	&__logo
		display: inline-block
		width: 107px

	&__search
		display: inline-block
		width: 385px
		margin: 0 0 0 40px
		position: relative
		&::before
			content: ''
			display: block
			width: 14.5px
			height: 14.5px
			position: absolute
			right: 12px
			top: 50%
			margin-top: -7px
			background: url('../img/icons/search-icon.svg') no-repeat 0 0
			background-size: 100%
			z-index: 0
		&-input
			width: 100%
			padding: 9px 33px 10px 10px
			color: rgba($text-color, .8)
			background-color: #fff
			border: 2px solid #ebebeb
			font-size: 14px
			transition: all .2s
			&:focus
				outline: none
				box-shadow: 0 0 7px 0 rgba($text-color, .1)
				transition: all .2s
			&::-webkit-input-placeholder
				opacity: .3
				font-size: 14px
			&:-moz-placeholder
				opacity: .3
				font-size: 14px
			&::-moz-placeholder
				opacity: .3
				font-size: 14px
			&:-ms-input-placeholder
				opacity: .3
				font-size: 14px
				
	&__link
		display: inline-block
		margin-right: 32px
		font: 14px $text-font
		color: $text-color
		opacity: .8
		text-decoration: none
		transition: all .2s
		&:hover
			text-decoration: none
			opacity: 1
			transition: all .2s
			color: $text-color
			cursor: pointer
		&:focus
			outline: none
			box-shadow: 0 0 7px 0 rgba($text-color, 0.2)
					


/* ------------------------------------- 
	search
 ------------------------------------- */
.search
	padding: 88px 0 25px
	background-image: radial-gradient(circle at 100% 100%, rgba(#dce2e7, .5), rgba(#f2f2f4, .5))
	&__block
		max-width: 752px
		margin: 60px auto 0
		&-line
			display: flex
		&-label
			display: block
			width: 100%
			max-width: 82.5%
			margin: 0
			position: relative
			&::before
				content: ''
				display: block
				width: 23.2px
				height: 23.2px
				position: absolute
				left: 24px
				top: 50%
				margin-top: -11px
				background: url('../img/icons/search-icon.svg') no-repeat 0 0
				background-size: 100%
				z-index: 0
		&-input
			width: 100%
			padding: 23px 64px
			font: 18px $text-font
			color: rgba($text-color, .8)
			border-top-left-radius: 8px
			border-bottom-left-radius: 8px
			border: none
			outline: none
			transition: all .2s
			&:focus
				outline: none
				box-shadow: 0 0 7px 0 rgba($text-color, .1)
				transition: all .2s
			&::-webkit-input-placeholder
				opacity: .5
				font-size: 18px
			&:-moz-placeholder
				opacity: .5
				font-size: 18px
			&::-moz-placeholder
				opacity: .5
				font-size: 18px
			&:-ms-input-placeholder
				opacity: .5
				font-size: 18px
		&-btn
			display: inline-block
			min-width: 17.5%
			flex-shrink: 0
			padding: 23px 10px
			font: 18px $text-font
			color: rgba($text-color, .5)
			text-align: center
			background-color: rgba(#fff, .4)
			border-top-right-radius: 8px
			border-bottom-right-radius: 8px
			border: none
			outline: none
			transition: all .2s
			&:hover
				cursor: pointer
				transition: all .2s
			&:active
				transform: $click
				background-color: rgba(#fff, .1)
				transition: all .2s
			&:focus
				outline: none

	/* ----- table ----- */
	&__table
		width: 100%
		margin-top: 32px
		border-collapse: separate
		border-spacing: 0 8px
		tr
			&:not(:first-child)
				background-color: transparent
				color: rgba($text-color, .1)
			&:nth-child(2)
				background-color: rgba(#fff,.4)
				td:first-child
					color: rgba($text-color, .8)
				td:last-child
					color: rgba($text-color, .5)
			&:nth-child(3)
				background-color: rgba(#fff,.28)
				td:first-child
					color: rgba($text-color, .56)
				td:last-child
					color: rgba($text-color, .35)
			&:nth-child(4)
				background-color: rgba(#fff,.2)
				td:first-child
					color: rgba($text-color, .4)
				td:last-child
					color: rgba($text-color, .25)
			&:nth-child(5)
				background-color: rgba(#fff,.12)
				td:first-child
					color: rgba($text-color, .24)
				td:last-child
					color: rgba($text-color, .15)

		td
			padding: 16px
		th
			font-family: $text-font
			font-weight: 400
			&:first-child
				padding-left: 65px
				font-size: 1.125rem
				color: rgba($text-color, .2)
			&:last-child
				padding-right: 20px
				text-align: right
				a
					font-size: 1rem
					color: rgba(#4a90e2, .5)
		td
			&:first-child
				padding-left: 65px
				font-size: 1.125rem
			&:last-child
				text-align: right
				font-size: .875rem
				
			

/* ------------------------------------- 
	services
 ------------------------------------- */
.services
	height: 600px
	padding: 60px 0
	&__text
		padding-top: 80px
		width: 41.666667%
		float: left
	&__title
		padding-right: 1em
	&__img
		width: 58.333333%
		height: 480px
		float: left
		background: url('../img/slide1-img1.png') no-repeat 50% 50%
		position: relative
		
		













/* ------------------------------------- 
	Media styles
 ------------------------------------- */
@import "media"