/* ------------------------------------- 
	Font face
 ------------------------------------- */
@import "fonts"

/* ------------------------------------- 
	Libs import
 ------------------------------------- */
@import "libs"

@import "vars"

/* ------------------------------------- 
	Common styles
 ------------------------------------- */
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $text-color
	opacity: 1

*:-moz-placeholder
	color: $text-color
	opacity: 1

*::-moz-placeholder
	color: $text-color
	opacity: 1

*:-ms-input-placeholder
	color: $text-color
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $text-color
body input:required:valid,
body textarea:required:valid
	color: $text-color


body
	max-width: 1920px
	min-width: 320px
	margin: 0 auto
	position: relative
	font: 16px/1.56 $text-font
	color: $text-color
	overflow-x: hidden

a
	text-decoration: none
	color: #4a90e2
	&:hover
		color: #4a90e2

.wrapper 
	max-width: 1166px
	margin-right: auto
	margin-left: auto
	padding-right: 15px
	padding-left: 15px

.clr
	&::before, &::after
		content: ''
		display: table
	&::after
		clear: both
		
.img-responsive
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap

.text-center
	text-align: center

.btn
	padding: 10px 15px
	font: 600 14px $text-font
	color: #fff
	text-align: center
	border-radius: 6px
	background-image: linear-gradient(to bottom, #f06b5c, #dd2f41)
	border: none
	outline: none
	transition: all .2s
	&:hover
		cursor: pointer
		background-image: linear-gradient(to top, #f06b5c, #dd2f41)
		transition: all .2s
	&:focus
		outline: none
		box-shadow: 0 0 5px 1px rgba(0,0,0, 0.3)
	&:active
		transform: $click
		transition: all .2s

/* ----- checkbox----- */
.checkbox 
	margin-top: 16px
	display: flex
	align-items: center
	cursor: pointer
	vertical-align: top
	font-size: 0

	.checkbox-hidden
		display: none

	.checkbox-wrap
		display: inline-block
		vertical-align: middle
		width: 24px
		height: 24px
		box-sizing: border-box
		flex: 0 0 24px


	.checkbox-pseudo
		display: block
		width: 100%
		height: 100%
		border-radius: 5px
		box-sizing: border-box
		background-color: rgba(#fff,.3)
		position: relative
		transition: background .2s ease-out,border .2s ease-out

	.checkbox-check 
		position: absolute
		top: 6px
		left: 5.5px
		stroke: #fff
		stroke-dasharray: 19px
		stroke-dashoffset: 20px
		transition: .2s ease-out

	.checkbox-text
		display: inline-block
		color: #fff
		font-family: $text-font
		font-size: 18px
		margin-left: 18px
		a 
			color: inherit
			text-decoration: underline

.checkbox 
	input[type=checkbox]
		&:checked
			+ .checkbox-wrap
				.checkbox-pseudo
					.checkbox-check
						stroke-dashoffset: 38px


/* ----- Scroll Animation ----- */
.animate
	opacity: 0
	transition-property:  opacity
	transition-duration: 1.5s
	transition-timing-function: ease
	&.animated
		opacity: 1
		transition-property: opacity
		transition-duration: 1.5s
		transition-timing-function: ease
@media only screen and (max-width : 1199px)
	.animate
		opacity: 1
		transition: none


/* ----- Titles & text ----- */
.title
	font: 2rem/1.25 $text-font
	font-weight: 600
	color: rgba($text-color, .8)
	&--bold
		font-weight: 700
		text-align: center
.text
	color: rgba($text-color, .5)
	font: 1.125rem/1.56 $text-font


/* ----- slick slider reset ----- */
.slick-slide
	outline: none

.slick-prev, .slick-next
	font-size: 0
	line-height: 0
	position: absolute
	top: 50%
	display: block
	width: 12px
	height: 24px
	padding: 0
	transform: translate(0, -50%)
	cursor: pointer
	color: transparent
	border: none
	outline: none
	background: url('../img/icons/slider-arrows.png') no-repeat
	opacity: .5
	z-index: 1
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus
	opacity: 1
	color: transparent
	outline: none
.slick-prev
	left: 0
	background-position: 0 0
.slick-next
	right: 0
	background-position: 100% 0

.slick-prev.slick-disabled,
.slick-next.slick-disabled
	opacity: .1
		
/* Dots */
.slick-dotted.slick-slider
	margin-bottom: 30px

.slick-dots
	display: inline-block
	margin: 0
	padding: 0 0 0 96px
	position: absolute
	bottom: 50px
	list-style: none
	text-align: center
.slick-dots li
	position: relative
	display: inline-block
	width: 12px
	height: 12px
	margin: 0 5px
	padding: 0
	cursor: pointer
.slick-dots li button
	font-size: 0
	line-height: 0
	padding: 0
	display: block
	width: 12px
	height: 12px
	cursor: pointer
	color: transparent
	border: 0
	border-radius: 50%
	outline: none
	background: #c6cbce
.slick-dots li.slick-active button
	background-color: #dd2f41


/* ----- magnific popup reset ----- */
.mfp-wrap ~ *
	filter: blur(5px)
.mfp-bg
	background: rgba(43, 40, 40, 0.75)
	opacity: 1
	&.formValid
		background-color: rgba(43, 40, 40, 0.6)










/* ------------------------------------- 
	header
 ------------------------------------- */
.header
	padding: 18px 0
	box-shadow: inset 0 -2px 0 0 #f1f3f5
	&__line
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
	&__block
		display: flex
		align-items: center
		&--right
			margin-left: 32px
			text-align: right
			
	&__logo
		display: inline-block
		width: 107px

	&__search
		display: inline-block
		width: 385px
		margin: 0 0 0 40px
		position: relative
		&::before
			content: ''
			display: block
			width: 14.5px
			height: 14.5px
			position: absolute
			right: 12px
			top: 50%
			margin-top: -7px
			background: url('../img/icons/search-icon.svg') no-repeat 0 0
			background-size: 100%
			z-index: 0
		&-input
			width: 100%
			padding: 9px 33px 10px 10px
			color: rgba($text-color, .8)
			background-color: #fff
			border: 2px solid #ebebeb
			font-size: 14px
			transition: all .2s
			&:focus
				outline: none
				box-shadow: 0 0 7px 0 rgba($text-color, .1)
				transition: all .2s
			&::-webkit-input-placeholder
				opacity: .3
				font-size: 14px
			&:-moz-placeholder
				opacity: .3
				font-size: 14px
			&::-moz-placeholder
				opacity: .3
				font-size: 14px
			&:-ms-input-placeholder
				opacity: .3
				font-size: 14px
				
	&__link
		display: inline-block
		margin-right: 32px
		font: 14px $text-font
		color: $text-color
		opacity: .8
		text-decoration: none
		transition: all .2s
		&:hover
			text-decoration: none
			opacity: 1
			transition: all .2s
			color: $text-color
			cursor: pointer
		&:focus
			outline: none
			box-shadow: 0 0 7px 0 rgba($text-color, 0.2)

	&__btn
		color: #fff
		&:hover
			color: #fff
			text-decoration: none
			
					


/* ------------------------------------- 
	search
 ------------------------------------- */
.search
	padding: 81px 0 25px
	background-image: radial-gradient(circle at 100% 100%, rgba(#dce2e7, .5), rgba(#f2f2f4, .5))
	position: relative
	overflow: hidden
	z-index: 0
	&::before, &::after
		content: ''
		display: block
		position: absolute
		opacity: 0.4
		border-style: dashed 
		border-width: 6px
		border-radius: 50%
		z-index: -1
	&::before
		width: 600px	
		height: 600px
		bottom: -225px
		left: -115px
		border-color: #e7eaed
	&::after
		width: 700px
		height: 700px
		top: -50px
		right: -90px
		border-color: #e9e9e9

	&__block
		max-width: 752px
		margin: 60px auto 0
		&-line
			display: flex
			position: relative
			&::before
				content: ''
				display: block
				width: 85%
				height: 60.3px
				border-radius: 3.4px
				filter: blur(13.6px)
				background-color: rgba(#000, .15)
				position: absolute
				top: 12px
				left: 50%
				transform: translateX(-50%)
				z-index: -1
			
		&-label
			display: block
			width: 100%
			max-width: 82.5%
			margin: 0
			position: relative
			&::before
				content: ''
				display: block
				width: 23.2px
				height: 23.2px
				position: absolute
				left: 24px
				top: 50%
				margin-top: -11px
				background: url('../img/icons/search-icon.svg') no-repeat 0 0
				background-size: 100%
				z-index: 0
		&-input
			width: 100%
			padding: 23px 64px
			font: 18px $text-font
			color: rgba($text-color, .8)
			border-top-left-radius: 8px
			border-bottom-left-radius: 8px
			border: none
			outline: none
			transition: all .2s
			&:focus
				outline: none
				box-shadow: 0 0 7px 0 rgba($text-color, .1)
				transition: all .2s
			&::-webkit-input-placeholder
				opacity: .5
				font-size: 18px
			&:-moz-placeholder
				opacity: .5
				font-size: 18px
			&::-moz-placeholder
				opacity: .5
				font-size: 18px
			&:-ms-input-placeholder
				opacity: .5
				font-size: 18px
		&-btn
			display: inline-block
			min-width: 17.5%
			flex-shrink: 0
			padding: 23px 10px
			font: 18px $text-font
			color: rgba($text-color, .5)
			text-align: center
			background-color: #f9f9f9
			border-top-right-radius: 8px
			border-bottom-right-radius: 8px
			border: none
			outline: none
			transition: all .2s
			&:hover
				cursor: pointer
				transition: all .2s
				background-color: darken(#f9f9f9, 2%)
			&:active
				transform: $click
				transition: all .2s
			&:focus
				outline: none

	/* ----- table ----- */
	&__table
		width: 100%
		margin-top: 22px
		border-collapse: separate
		border-spacing: 0 8px
		tr
			&:not(:first-child)
				background-color: transparent
				color: rgba($text-color, .1)
			&:nth-child(2)
				background-color: rgba(#fff,.4)
				td:first-child
					color: rgba($text-color, .8)
				td:last-child
					color: rgba($text-color, .5)
			&:nth-child(3)
				background-color: rgba(#fff,.28)
				td:first-child
					color: rgba($text-color, .56)
				td:last-child
					color: rgba($text-color, .35)
			&:nth-child(4)
				background-color: rgba(#fff,.2)
				td:first-child
					color: rgba($text-color, .4)
				td:last-child
					color: rgba($text-color, .25)
			&:nth-child(5)
				background-color: rgba(#fff,.12)
				td:first-child
					color: rgba($text-color, .24)
				td:last-child
					color: rgba($text-color, .15)

		td
			padding: 14px 16px
		th
			font-family: $text-font
			font-weight: 400
			&:first-child
				padding-left: 65px
				font-size: 1.125rem
				color: rgba($text-color, .2)
			&:last-child
				padding-right: 20px
				text-align: right
				a
					font-size: 1rem
					color: rgba(#4a90e2, .5)
		td
			&:first-child
				padding-left: 65px
				font-size: 1.125rem
			&:last-child
				text-align: right
				font-size: .875rem

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)				
	.search__block-line
		box-shadow: 0 3px 10px -3px rgba(#000,.1)
		&::before
			display: none
			

/* ------------------------------------- 
	services
 ------------------------------------- */
.services
	padding: 60px 0
	&__content
		display: flex
		flex-wrap: wrap
	&__text
		padding-top: 80px
		padding-left: 96px
		flex: 0 0 41.666667%
		max-width: 41.666667%
	&__descr
		margin: 30px 0 0 0
	&__btn
		margin-top: 45px
		padding: 16px 28px
		font-size: 18px

	&__img
		flex: 0 0 58.333333%
		max-width: 58.333333%
		height: 480px
		background: url('../img/services-img1.png') no-repeat 75% 50%
		position: relative
		
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)
	.services__img
		background: url('../img/services-img1x2.png') no-repeat 75% 50%
		background-size: 406px 409px



/* ------------------------------------- 
	express test
 ------------------------------------- */
.test
	padding: 74px 0 70px
	background-image: radial-gradient(circle at 100% 100%, rgba(#dce2e7, .5), rgba(#f2f2f4, .5))
	position: relative
	z-index: 0
	overflow: hidden
	&::before, &::after
		content: ''
		display: block
		position: absolute
		opacity: 0.4
		border-style: dashed 
		border-width: 6px
		border-radius: 50%
		z-index: -1
	&::before
		width: 600px	
		height: 600px
		bottom: -300px
		left: -115px
		border-color: #e7eaed
	&::after
		width: 700px
		height: 700px
		top: -50px
		right: -90px
		border-color: #e9e9e9
	&__title
		text-align: center
	&__items
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__item
		margin-top: 60px
		flex: 0 0 25%
		max-width: 25%
		text-align: center
		padding: 0 10px
		&-img
			width: 128px
			height: 128px
			margin: 0 auto
			border-radius: 50%
			overflow: hidden
		&-text
			padding-top: 37px




/* ------------------------------------- 
	sheme
 ------------------------------------- */
.sheme
	padding: 70px 0 56px
	background-color: #fff
	&__title
		padding: 0 8.75em
		text-align: center
	&__img
		margin-top: 60px
		text-align: center



/* ------------------------------------- 
	examples
 ------------------------------------- */
.examples
	padding: 70px 0 30px
	background-color: rgba(#000, .02)
	background-image: radial-gradient(circle at 100% 0, rgba(#e64c4e, .025), rgba(#e64c4e, 0))
	&__slide-inner
		display: flex
		flex-wrap: wrap
	&__text
		padding-top: 80px
		padding-left: 96px
		flex: 0 0 41.666667%
		max-width: 41.666667%
	&__title
		margin-bottom: .75em
		padding-right: 2.2em
	&__descr
		line-height: 1.67
	&__img
		flex: 0 0 58.333333%
		max-width: 58.333333%
		img
			margin-left: auto
			margin-right: auto
			
			


/* ------------------------------------- 
	tariffs
 ------------------------------------- */
.tariffs
	padding: 80px 0 82px
	background-color: #fff

	&__content
		display: flex
		flex-wrap: wrap
	&__info
		flex: 0 0 30%
		max-width: 30%
		&-list
			margin: 32px 0 0 0
			padding: 0
			list-style-type: none
			li
				margin-bottom: 16px
				display: flex
				align-items: center
				&:last-child
					margin-bottom: 0
		&-icon
			width: 32px	
			margin-right: 16px

	&__plans
		margin-top: 30px
		flex: 0 0 560px
		max-width: 560px
		display: flex
		justify-content: center
		
	&__plan
		height: 328px
		padding: 20px 15px
		background-color: #f7f7f7
		border-radius: 6px
		text-align: center
		position: relative
		transition: all .2s
		&-rec
			transform: scale(1.05)
			background-color: #f8f5f0

		&-period
			font: 700 1.125rem $text-font
			color: rgba($text-color, .5)
		&-name
			margin: 24px 0 0 0
			font: 700 1.125rem $text-font
			text-transform: uppercase
			color: $text-color
		&-price
			margin: 24px 0 0 0
			font: 700 1.5rem $text-font
			color: $text-color
		&-descr
			margin: 26px 0 0 0
			font: .875rem $text-font
			color: rgba($text-color, .5)
		&-btn
			display: block
			padding: 13px 15px
			position: absolute
			bottom: 16px
			left: 50%
			transform: translateX(-50%)
			border-radius: 6px
			text-decoration: none
			border: solid 2px #dedede
			font: 700 14px/1 $text-font
			color: rgba($text-color, .5)
			&:hover
				text-decoration: none
				color: #fff
				background-image: linear-gradient(to bottom, #f06b5c, #dd2f41)
				border-color: transparent
			&:active
				transition: all .2s

	&__trial
		margin-top: 30px
		flex: 0 0 176px
		max-width: 176px
		margin-right: 16px
		padding-bottom: 90px
		&-btn
			display: block
			width: 100%
			padding: 9px 10px
			position: absolute
			bottom: 0
			left: 0
			border-radius: 6px
			background-image: linear-gradient(to bottom, #f06b5c, #dd2f41)
			font: 700 14px $text-font
			color: #fff
			text-align: center
			transition: all .2s
			&:hover
				text-decoration: none
				color: #fff
				background-image: linear-gradient(to top, #f06b5c, #dd2f41)
				transition: all .2s
			&:active
				transform: $click
				transition: all .2s

.tariffs__plans
	.tariffs__plan
		flex: 0 0 33%
		max-width: 33%
		order: 1
		&:nth-child(2)
			order: 0

		.tariffs__plan-period
			visibility: visible
		&:not(.tariffs__plan-rec)
			.tariffs__plan-period
				visibility: hidden
			

/* ------------------------------------- 
	feedbacks
 ------------------------------------- */
.feedbacks
	padding: 70px 0
	background-image: radial-gradient(circle at 100% 100%, rgba(#dce2e7, .5), rgba(#f2f2f4, .5))
	&__title
		text-align: center

	&__slider
		max-width: 752px
		margin: 60px auto 0
		.slick-next
			right: -40px
		.slick-prev
			left: -40px
	&__slide
		margin-bottom: 20px
		&-content
			padding: 30px 40px
			background-color: #fff
			border-radius: 8px
			box-shadow: 0 60px 80.1px -115px rgba(0, 0, 0, .5)

	&__client
		position: relative
		padding-right: 165px
		&-name
			margin-bottom: 0
			font: 700 1.25rem $text-font
		&-img
			max-width: 160px
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)

	&__text
		margin: 15px 0 0 0
		font-size: 1rem
		color: #000
		&-visible
			margin-bottom: 0
		&-hidden
			display: none
			

	&__show-btn
		padding: 8px 0
		background: none
		border: none
		color: rgba($text-color, .4)
		transition: color .2s
		&:hover
			cursor: pointer
			color: rgba($text-color, .8)
			transition: color .2s
		&:focus
			outline: none




/* ------------------------------------- 
	footer
 ------------------------------------- */
.footer
	padding: 50px 0
	background-color: #fff
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1)
	&__content
		display: flex
		flex-wrap: wrap
	&__lists
		flex: 0 0 60%
		max-width: 60%
		display: flex
		flex-wrap: wrap

		&-block
			flex: 0 0 33%
			max-width: 33%

		&-title
			font: 1.125rem $text-font
			color: $text-color

		&-link
			font: .875rem/1.71 $text-font
			color: rgba($text-color, .5)
			transition: color .2s
			&:hover
				text-decoration: none
				color: rgba($text-color, .8)
				transition: color .2s

	&__list
		margin: 10px 0 0 0
		padding-left: 0
		list-style-type: none
		li
			margin: 8px 0

	&__contacts
		flex: 0 0 18%
		max-width: 18%
		margin-left: auto
		margin-right: auto
		
	&__social
		flex: 0 0 60%
		max-width: 60%
		display: flex
		flex-wrap: wrap
		margin: 0
		padding-left: 0
		list-style: none
		&-link
			display: block
			width: 30px
			height: 30px
			margin-right: 18px
			background-repeat: no-repeat
			background-position: 50% 50%
			opacity: .5
			transition: all .2s
			&:hover
				opacity: 1
				cursor: pointer
				transition: all .2s
			&:active
				transform: $click
		&-vk
			background-image: url('../img/icons/ic-vk.svg')
		&-fb
			background-image: url('../img/icons/ic-fb.svg')
		&-ok
			background-image: url('../img/icons/ic-ok.svg')
		&-gp
			background-image: url('../img/icons/ic-gp.svg')
		&-ln
			background-image: url('../img/icons/ic-ln.svg')
		&-tw
			background-image: url('../img/icons/ic-tw.svg')


	&__copy
		flex: 0 0 18%
		max-width: 18%
		margin-left: auto
		margin-right: auto
		font: .875rem/1.71 $text-font
		color: rgba($text-color, .5)

	&__social, &__copy
		margin-top: 50px


.contacts
	&__tel-link
		font: 1.125rem $text-font
		color: $text-color
		&:hover
			text-decoration: none
			color: $text-color
		&:active
			transform: $click
	&__work-time
		margin-top: 4px
		font: .875rem $text-font
		color: rgba($text-color, .5)
	&__question
		margin-top: 13px
		display: inline-block
		padding: 11px 25px 11px 25px
		text-decoration: none
		font: .875rem $text-font
		color: rgba($text-color, .5)
		border-radius: 4px
		border: solid 1px #979797
		transition: color .2s
		&:hover
			text-decoration: none
			color: rgba($text-color, .8)
			transition: color .2s
			.contacts__question-ic
				opacity: .8
				transition: opacity .2s
		&-ic
			display: inline-block
			width: 16px
			height: 13px
			margin-right: 8px
			background: url('../img/icons/mailme.svg') no-repeat 50% 50%
			opacity: .5
			transform: translateY(2px)
			transition: opacity .2s
			
	&__call
		margin-top: 10px
		font: .875rem $text-font
		&-text
			color: rgba($text-color, .5)
		&-link
			display: inline-block
			position: relative
			padding-bottom: 2px
			&::before
				content: ''
				display: block
				width: 100%
				height: 1px
				position: absolute
				left: 0
				bottom: 0
				background: rgba(#4a90e2, .2)
				z-index: 0
				transition: all .2s
			&:hover
				text-decoration: none
				&:before
					transform: scale(0)
					transition: all .2s
				&:hover
					text-decoration: none
						


/* ------------------------------------- 
	modal login form
 ------------------------------------- */
.login
	max-width: 364px
	margin: 0 auto
	&__block
		position: relative
		padding: 10px 0
		text-align: center
	&__title
		font: 700 2.25rem/1.33 $text-font
		color: #fff
	&__subtitle
		margin-top: 8px
		font: 400 1.125rem $text-font
		color: rgba(#fff, .5)
	&__form
		margin-top: 48px
	&__label
		position: relative
		display: block
	&__input
		display: block
		width: 100%
		height: 64px
		margin-bottom: 15px
		padding: 20px 24px
		border: none
		border-radius: 4px
		font: 18px $text-font
		color: #fff
		background-color: rgba(#fff,.3)	
		text-align: left
		&:hover
		&:focus
			padding: 28px 24px 12px
			color: #fff
			outline: none
			background-color: rgba(#fff,.35)
			box-shadow: inset 0 0 5px rgba(#fff,.2)
			&::-webkit-input-placeholder
				color: transparent!important
			&:-moz-placeholder
				color: transparent!important
			&::-moz-placeholder
				color: transparent!important
			&:-ms-input-placeholder
				color: transparent!important
			& ~ .field-hint
				opacity: 1
				top: 12px
		+ .error
			display: block
			margin: -10px 0 0 0
			text-align: left
			font: 14px $text-font
			color: #f06b5c
		~ .field-hint
			font-size: 12px
			position: absolute
			top: 0
			left: 24px
			opacity: 0
			color: rgba(#fff,.5)
			transition: all 0.2s ease-in-out

		&::-webkit-input-placeholder
			color: rgba(#fff,.5)
		&:-moz-placeholder
			color: rgba(#fff,.5)
		&::-moz-placeholder
			color: rgba(#fff,.5)
		&:-ms-input-placeholder
			color: rgba(#fff,.5)
		&:focus:required:invalid,
			color: #fff
		&:required:valid,
			color: #fff

	&__btn
		padding: 22px 15px
		display: block
		width: 100%
		margin-top: 15px
		font: 700 18px $text-font
		background: rgba(#000, .3)
		color: rgba(#909090, .5)
		&:hover
			background: rgba(#000, .3)
			color: rgba(#909090, .5)
			cursor: default
		&:active
			transform: none
			


	&__link
		display: inline-block
		padding-bottom: 2px
		font: 18px $text-font
		color: #fff
		position: relative
		&::before
			content: ''
			display: block
			width: 100%
			height: 1px
			position: absolute
			left: 0
			bottom: 0
			background: rgba(#fff, .2)
			z-index: 0
			transition: all .2s
		&:hover
			text-decoration: none
			color: #fff
			&:before
				transform: scale(0)
				transition: all .2s

	&__remember
		margin-top: 16px

	&__client
		display: block
		margin-top: 55px
		padding: 22px 15px
		font: 700 18px $text-font
		color: #fff
		border-radius: 6px
		text-align: center
		border: solid 1px #ffffff
		transition: all .2s
		&:hover
			text-decoration: none
			color: #fff
			background: rgba(#fff, .25)
			transition: all .2s
		&:active
			transform: $click
			transition: all .2s

	&__trial
		margin-top: 24px
				
	&.formValid
		.login__btn
			background-image: linear-gradient(to bottom, #f06b5c, #dd2f41)
			color: #fff
			&:hover
				cursor: pointer
				background-image: linear-gradient(to top, #f06b5c, #dd2f41)
				transition: all .2s
			&:focus
				box-shadow: 0 0 5px 1px rgba(0,0,0, 0.3)
			&:active
				transform: $click
				transition: all .2s

.mfp-close
	opacity: .8
	width: 20px
	height: 20px
	line-height: 40px
	padding: 0
	top: 0
	right: -60px
	&:hover
		cursor: pointer
	&:active
		top: 5px
	&::before, &::after  
		transition: all .25s
		content: ""
		position: absolute
		top: 10px
		left: 0
		height: 2px
		width: 20px
		border-radius: 15px
		background-color: #fff
	&::before
		transform: rotate(45deg)
	&::after 
		transform: rotate(-45deg)








/* ------------------------------------- 


	page__tariffs

 ------------------------------------- */
/* ----- Tooltips ----- */	
.tooltip
	display: inline-block
	width: 18px
	height: 18px
	margin-left: 2px
	background: url('../img/icons/tooltip.svg') no-repeat 50% 50%
	vertical-align: middle
[data-tooltip]
	position: relative
	z-index: 2
	cursor: pointer

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after
	visibility: hidden
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
	opacity: 0
	pointer-events: none

/* Position tooltip above the element */
[data-tooltip]:before 
	position: absolute
	top: 150%
	left: 50%
	margin-bottom: 5px
	margin-left: -125px
	padding: 7px
	width: 100%
	min-width: 250px
	border-radius: 2px
	background-color: #000
	background-color: rgba(#000, .6)
	color: #fff
	content: attr(data-tooltip)
	text-align: center
	font-size: 14px
	font-style: normal
	line-height: 1.2

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after 
	position: absolute
	top: calc(150% - 5px)
	left: 50%
	margin-left: -5px
	width: 0
	border-bottom: 5px solid #000
	border-bottom: 5px solid rgba(#000, .6)
	border-right: 5px solid transparent
	border-left: 5px solid transparent
	content: " "
	font-size: 0
	line-height: 0


/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after 
	visibility: visible
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
	filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"
	opacity: 1

/* ----- Custom select ----- */
.my-select-wrapper
	width: 100%
	position: relative
	user-select: none
	select
		display: none

.my-select
	position: relative

.my-select-trigger
	position: relative
	display: flex
	align-items: center
	padding: 18px 16px
	color: $text-color
	font: 18px $text-font
	background: #fff
	border: solid 2px #ebebeb
	border-top-left-radius: 4px
	border-top-right-radius: 4px
	cursor: pointer
	&:focus,&:active
		box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(#000,.15)
	&:after
		position: absolute
		display: block
		content: ''
		width: 12px
		height: 12px
		top: 50%
		right: 25px
		margin-top: -3px
		border-bottom: 2px solid #000
		border-right: 2px solid #000
		transform: rotate(45deg) translateY(-50%)
		transition: all .2s ease-in-out
		transform-origin: 50% 0

.my-select.opened .my-select-trigger:after
	margin-top: 3px
	transform: rotate(-135deg) translateY(-50%)

.my-options
	max-height: 300px
	overflow-y: auto
	position: absolute
	display: block
	top: 100%
	left: 0
	right: 0
	margin: 0 2px
	border-bottom-left-radius: 4px
	border-bottom-right-radius: 4px
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07)
	background: #fff
	transition: all .2s ease-in-out
	opacity: 0
	visibility: hidden
	pointer-events: none
	transform: translateY(-15px)
	z-index: 1

.my-select.opened .my-options
	opacity: 1
	visibility: visible
	pointer-events: all
	transform: translateY(1px)

.my-option
	position: relative
	display: block
	padding: 10px 30px
	color: $text-color
	font: 16px $text-font
	cursor: pointer
	transition: all .2s ease-in-out
	&:first-of-type
		border-radius: 4px 4px 0 0
	&:last-of-type
		border-bottom: 0
		border-radius: 0 0 4px 4px
	&:hover, &.selection
		background: rgba(#6ba933,.1)





/* ------------------------------------- 
	purchase
 ------------------------------------- */
.purchase
	padding: 65px 0 120px
	background-color: #f9f8f6
	&__title
		margin: 0 0 25px
		opacity: 0.8
		font-weight: 600
		line-height: 1.5
		color: $text-color

	&__block
		display: flex
		justify-content: space-between

	&__data
		flex: 0 0 73.5%
		max-width: 73.5%

	&__tabs
		display: flex
		width: 100%
		padding-left: 8px
	&__tab
		width: 100%
		padding: 10px
		font-size: 1rem
		text-align: center
		color: $text-color
		border: solid 2px #dedcd6
		margin: 0 -1px
		transition: all .2s
		&:first-child
			flex: 0 0 35%
			max-width: 35%
			border-top-left-radius: 6px
			border-bottom-left-radius: 6px
		&:last-child
			flex: 0 0 36%
			max-width: 36%
			border-top-right-radius: 6px
			border-bottom-right-radius: 6px
		&--active
			background-color: #dedcd6
			transition: all .2s
		&:hover
			cursor: pointer
			background-color: #dedcd6
			transition: all .2s

	&__tables
		display: flex
		justify-content: space-between
		margin-top: 24px
		&.tariff-choosen
			.purchase__table:not(.purchase__table-tariff--active)
				opacity: .5
			.purchase__table-tariff
				&:hover
					cursor: default
					&:not(.purchase__table-tariff--active)
						box-shadow: none
						top: 0
						cursor: default
						.table-ic
							opacity: .5
						.table-price
							height: 40px
							line-height: 40px
						div:nth-child(2n)
							background-color: rgba(#efedeb, .4)
						div:nth-child(2n+1)
							background-color: rgba(#fff, .3)
	&__table
		div
			height: 40px
			font: 1.125rem/40px $text-font
			color: rgba($text-color,.5)
		.table-head
			font-weight: 700
			color: $text-color
		div:first-child
			border-top-left-radius: 8px
			border-top-right-radius: 8px
		div:last-child
			height: 70px
			border-bottom-left-radius: 8px
			border-bottom-right-radius: 8px
		.table-empty
			height: 80px
		.table-ic	
			display: inline-block
			width: 40px
			height: 40px
			&-yes
				background: url('../img/icons/table-ic-yes.svg') no-repeat 50% 50%
			&-no
				background: url('../img/icons/table-ic-no.svg') no-repeat 50% 50%
		.currency
			font-size: .9em
	
	&__table-titles
		div
			padding: 0 16px 0 12px
		div:nth-child(2n)
			background-color: rgba(#fff, .3)
		div:nth-child(2n+3)
			background-color: rgba(#efedeb, .4)
		.table-head
			display: flex
			width: 100%
			align-items: flex-end
			background-color: rgba(#efedeb, .4)
			height: 80px
			vertical-align: bottom

	&__table-tariff
		position: relative
		flex: 0 0 16.7%
		max-width: 16.7%
		margin-left: 15px
		text-align: center
		transition: all .2s
		.table-ic
			opacity: .5
		.table-price
			font-size: 1.25rem
			color: $text-color
		div:nth-child(2n)
			background-color: rgba(#efedeb, .4)
		div:nth-child(2n+1)
			background-color: rgba(#fff, .3)

		&:hover, &--active
			box-shadow: 0 8px 55px -15px rgba(#f06b5c, .7)
			transition: all .2s
			cursor: pointer
			top: -16px
			.table-ic
				opacity: 1
			.table-price
				height: 56px
				line-height: 56px
			div:nth-child(2n)
				background-color: rgba(#fff, .9)
			div:nth-child(2n+1)
				background-color: #f8f6f4


	&__order
		flex: 0 0 24%
		max-width: 24%
		padding-top: 76px
		&.settings
			.purchase__order-title-form,
			.purchase__order-back,
			.purchase__order-form,
			.purchase__btn-form,
			.purchase__order-report,
			.purchase__order-contacts
				display: none

			.purchase__order-title-set,
			.purchase__order-settings
				display: block
			.purchase__btn-settings,
			.purchase__order-offer
				display: inline-block


		&-back
			display: inline-block
			position: relative
			font-size: 1rem
			color: #4a90e1
			transition: all .2s
			&::before
				content: '\2190'
				position: relative
				top: -2px
				display: inline-block
				margin-right: 6px
				font-size: 1rem
				line-height: 1
				color: #4a90e1
				transition: all .2s
			&:hover
				cursor: pointer
				color: darken(#4a90e1, 20%)
				transition: all .2s
			&:active
				&::before
					left: 2px
					transition: all .2s
					


		&-title
			padding-left: 16px
			margin: 0
			opacity: 0.8
			font-size: 1.5rem
			font-weight: 700
			line-height: 1
			color: $text-color
			&-set
				display: none
				padding-top: 36px
			&-form
				padding-top: 10px
		
		&-settings
			display: none

		&-form
			margin-top: 24px
		&-label
			position: relative
			display: block
		&-input
			display: block
			width: 100%
			height: 64px
			margin-bottom: 15px
			padding: 20px 16px
			border: solid 2px #ebebeb
			border-radius: 4px
			font: 18px $text-font
			color: $text-color
			background-color: #fff
			&:focus
				padding: 28px 16px 12px
				outline: none
				box-shadow: inset 0 0 5px rgba(#fff,.2)
				&::-webkit-input-placeholder
					color: transparent!important
				&:-moz-placeholder
					color: transparent!important
				&::-moz-placeholder
					color: transparent!important
				&:-ms-input-placeholder
					color: transparent!important
				& ~ .hint
					opacity: 1
					top: 12px
			+ .error
				display: block
				margin: -10px 0 0 0
				text-align: left
				font: 14px $text-font
				color: #f06b5c
			~ .hint
				font-size: 12px
				position: absolute
				top: 0
				left: 18px
				opacity: 0
				color: rgba($text-color,.5)
				transition: all 0.2s ease-in-out

			&::-webkit-input-placeholder
				color: rgba($text-color,.5)
			&:-moz-placeholder
				color: rgba($text-color,.5)
			&::-moz-placeholder
				color: rgba($text-color,.5)
			&:-ms-input-placeholder
				color: rgba($text-color,.5)
			&:focus:required:invalid,
				color: $text-color
			&:required:valid,
				color: $text-color

		&-license, &-workplace, &-safe, &-total
			margin-top: 30px
			color: $text-color
			padding: 13px 16px
			&-title
				font-size: .75rem
				opacity: .5
			&-text
				font-size: 1.125rem
				line-height: 1

		&-select
			margin-top: 10px
		&-discount
			font-size: .875rem
			color: #c0847c
			padding: 13px 16px
			border-radius: 4px
			background-color: #f4f1ee

		&-workplace
			margin-top: 30px

		&-total
			margin-top: 0
			&-text
				font-size: 1.5rem
				font-weight: 700

		&-btn-wrap
			margin-top: 18px
			position: relative
			z-index: 1
			&::before
				display: none
				content: ''
				position: absolute
				top: 20px
				left: 50%
				margin-left: -114px
				z-index: -1
				width: 228px
				height: 48px
				opacity: 0.5
				border-radius: 3.4px
				filter: blur(13.6px)
				background-image: linear-gradient(to bottom, #f06b5c, #dd2f41), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))

		&-info
			text-align: center
			margin-top: 30px
		&-link
			font-size: 1rem $text-font
			color: $text-color
			position: relative
			padding-bottom: 2px
			&::before
				content: ''
				display: block
				width: 100%
				height: 1px
				position: absolute
				left: 0
				bottom: 0
				background: rgba($text-color, .1)
				z-index: 0
				transition: all .2s
			&:hover
				color: $text-color
				text-decoration: none
				&:before
					transform: scale(0)
					transition: all .2s
				&:hover
					text-decoration: none
		&-offer
			display: none

		&-contacts
			margin-top: 20px
			text-align: center
			&-link
				font: 1rem $text-font
				color: $text-color
				white-space: nowrap
				position: relative
				&::before
					content: ''
					display: block
					width: 100%
					height: 1px
					position: absolute
					left: 0
					bottom: 0
					background: rgba($text-color, .1)
					z-index: 0
					transform: scale(0)
					transition: all .2s
				&:hover
					color: $text-color
					text-decoration: none
					&:before
						transform: scale(1)
						transition: all .2s
					&:hover
						text-decoration: none





	&__btn
		max-width: 272px
		padding: 18px 15px
		border-radius: 6px
		font: 700 18px $text-font
		width: 100%
		&-settings
			display: none
			background-image: linear-gradient(to bottom, #f06b5c, #dd2f41)
			color: #fff
			&:hover
				cursor: pointer
				background-image: linear-gradient(to top, #f06b5c, #dd2f41)
				transition: all .2s
			&:focus
				box-shadow: 0 0 5px 1px rgba(0,0,0, 0.3)
			&:active
				transform: $click
				transition: all .2s

		&-form
			background: rgba(#000, .3)
			color: rgba(#fff, .5)
			&:hover
				cursor: default
				background: rgba(#000, .3)
				color: rgba(#fff, .5)
			&:focus
				box-shadow: none
			&:active
				transform: none
			
.purchase__order.formValid
	.purchase__order-btn-wrap
		&::before
			display: block
	.purchase__btn-form
		background-image: linear-gradient(to bottom, #f06b5c, #dd2f41)
		color: #fff
		&:hover
			cursor: pointer
			background-image: linear-gradient(to top, #f06b5c, #dd2f41)
			transition: all .2s
		&:focus
			box-shadow: 0 0 5px 1px rgba(0,0,0, 0.3)
		&:active
			transform: $click
			transition: all .2s

.report-icon
	display: inline-block
	width: 12px
	height: 14px
	margin-right: 7px
	background: url('../img/icons/download-report.svg') no-repeat 50% 50%
	position: relative
	top: 1px





/* ------------------------------------- 
	Media styles
 ------------------------------------- */
@import "media"